.video__comments {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  .video__comment {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 9999px;
    background-color: white;
    color: black;
    margin-bottom: 10px;
  }
}
.fa-solid {
  border: none;
  background-color: white;
  font-size: 22px;
}

#textarea {
  width: 100%;
  height: 5em;
  border: none;
  resize: none;
  font-size: 15px;
}
#commentForm {
  width: auto;
}
