doctype html
html(lang="ko")
    head
        title #{pageTitle} | Wetube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css@1.10.2/mvp.css")
    body 
        header
            h1=pageTitle
            nav
                ul
                    block goHome
                    block upload
                    block search
                        li 
                            a(href="/search") Search Video
                    if loggedIn
                        li
                            a(href="/users/logout") Log Out
                        li 
                            a(href="/my-profile") #{loggedInUser.name}의 Profile
                    else
                        block join
                            li 
                                a(href="/join") Join
                        block login
                            li 
                                a(href="/login") Login
        main 
            block content
    include partials/footer